<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Django Course</title>
</head>
<body>
    <section class="py-10">
        <h1 class="text-center text-4xl">{{ book.title }}</h1><br>
        <div class="flex justify-center">
            <img src="{{ book.thumbnailUrl }}" width="200">
        </div>
        <h1 style="font-weight: bold;">About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel atque explicabo qui dolor, voluptate numquam cum nihil sequi suscipit, dolorum consequuntur reiciendis quisquam porro sapiente nesciunt, ducimus optio fugiat ipsam.</p>
        <br>
        <h1 style="font-weight: bold;">Pages</h1>
        <p>Total {{ book.pageCount }} pages</p>
        <br>
        <h1 style="font-weight: bold;">Author</h1>
        <p>{{ book.authors|join:", "}}</p>
        <br>
        <h1 style="font-weight: bold;">Description</h1>
        <p>{{ book.shortDescription }}</p>
        <p>{{ book.longDescription }}</p>
    </section>
</body>
</html>